{{define "title"}}The actual giga app{{end}} {{define "body"}}
<table role="grid">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="#">Changes</a></td>
      <td><a>Butcher, Jim</a></td>
      <td><mark>Read</mark></td>
      <td>
        <a>Dropdown</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="#">Changes</a></td>
      <td><a>Butcher, Jim</a></td>
      <td><mark>TBR</mark></td>
      <td>
        <a>Dropdown</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="#">Changes</a></td>
      <td><a>Butcher, Jim</a></td>
      <td><mark>Acquired</mark></td>
      <td>
        <a>Dropdown</a>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a href="#">Changes</a></td>
      <td><a>Butcher, Jim</a></td>
      <td><mark>To buy</mark></td>
      <td>
        <a>Dropdown</a>
      </td>
    </tr>
  </tbody>
</table>
{{end}}
